#wrapper {
  background: rgba(0,0,0,0.3);
  display: grid;
  grid-template-columns: 1fr;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000;
}

#wrapper .modal {
  background: #F9F9F9;
  box-sizing: border-box;
  max-width: 460px;
  min-width: 320px;
  justify-self: center;
  align-self: center;
  height: 425px;
  width: 460px;
}

#wrapper .modal header {
  background: white;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  height: 70px;
  width: 100%;
  padding-left: 16px;
}

#wrapper .modal form {
  box-sizing: border-box;
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 16px;
  padding: 16px;
}
#wrapper .modal form input {
  width: 100%;
}
#wrapper .modal form label {
  display: block;
  margin-bottom: 8px;
}