section {
  display: grid;
  grid-template-columns: 1fr;
  grid-row-gap: 16px;
}

section .container {
  display: grid;
  grid-row-gap: 8px;
  max-width: 1024px;
}

section footer {
  display: grid;
  justify-items: end;
}

.filtro {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.filtro div:first-child {
  justify-self: left;
  position: relative;
}

.filtro div:last-child {
  justify-self: right;
}

.filtro input[type=search] {
  box-sizing: border-box;
  padding-left: 36px;
}

.fa-search {
  color: #FAB43D;
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
}

