* {
  box-sizing: border-box;
}
body {
  background: #E5E5E5;
  display: grid;
  grid-template-columns: 1fr;
  margin: 0;
  padding: 16px;
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

main {
  display: grid;
  justify-items: center;
}

input {
  height: 40px;
  width: 300px;
}

a {
  color: #FAB43D;
  text-decoration: none;
}
a:hover {
  color: #FAB43D;
}