.usuarios {
  display: grid;
  color: #676A6C;
  grid-template-columns: 1fr;
  grid-row-gap: 8px;
  margin-top: 24px;
}

.usuarios h3,
.usuarios h5,
.usuarios p {
  margin: 0;
}
.usuarios > header {
  align-items: center;
  background: white;
  display: grid;
  grid-template-columns: 300px auto;
  padding: 8px;
  height: 40px;
}

.usuarios .user {
  background: white;
  display: grid;
  grid-template-columns: 300px auto;
  grid-column-gap: 8px;
}

.user > div {
  padding: 8px;
}

.user > div:first-child {
  display: grid;
  grid-template-columns: 120px auto;
  grid-template-rows: 100% auto;
  justify-items: center;
  align-items: center;
}

.user > div:last-child {
  padding: 8px 24px;
}

.user .user--image {
  display: grid;
  align-items: center;
}

.user .user-info {
  display: grid;
  justify-self: left;
}

.user figure {
  border-radius: 50%;
  display: block;
  margin: 0;
  height: 80px;
  width: 80px;
  overflow: hidden;
}

.user figure img {
  height: 100%;
}

.user .user-info h5 {
  user-select: none;
}

.user .user-info a {
  opacity: 0;
  transition: 1s opacity ease;
}


.user .user-info:hover a {
  opacity: 1;
}

.shadow-box {
  box-shadow: 0px 0px 8px 1px rgba(0,0,0,0.35);
}