button {
  background: #FAB43D;
  border: none;
  border-radius: 3px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  outline: none;
  padding: 12px 24px;
}

button.btn-page {
  background: none;
  color: #676A6C;
  font-weight: bold;
}

button .fa-plus-circle {
  margin-right: 8px;
}

button .fa-arrow-alt-circle-right {
  color: #FAB43D;
  margin-left: 8px;
}